# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive - The University of Texas at Dallas\Fall\Fall 2020\SE 6362.001\Test_Learning_Django\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
